# Always
ProxyPass /robots.txt !
ProxyPass /favicon.ico !
ProxyPass /sitemap.xml !
ProxyPass /.well-known !
ProxyPass /_common !
ProxyPass /_errors !

# specific to Mastodon
ProxyPass /500.html !
ProxyPass /android-chrome-192x192.png !
ProxyPass /apple-touch-icon.png !
ProxyPass /assets !
ProxyPass /avatars !
ProxyPass /badge.png !
ProxyPass /browserconfig.xml !
ProxyPass /embed.js !
ProxyPass /emoji !
ProxyPass /favicon-dev.ico !
ProxyPass /favicon.ico !
ProxyPass /headers !
ProxyPass /mask-icon.svg !
ProxyPass /mstile-150x150.png !
ProxyPass /oops.gif !
ProxyPass /packs !
ProxyPass /robots.txt !
ProxyPass /sounds !
ProxyPass /sw.js !
ProxyPass /system !
ProxyPass /web-push-icon_expand.png !
ProxyPass /web-push-icon_favourite.png !
ProxyPass /web-push-icon_reblog.png !

ProxyPreserveHost On

ProxyPass ${appconfig.context}/api/v1/streaming http://127.0.0.1:${appconfig.tcpport.mastodon-streaming}/
ProxyPass ${appconfig.context}/ http://127.0.0.1:${appconfig.tcpport.mastodon-web}/
ProxyPassReverse ${appconfig.context}/ http://127.0.0.1:${appconfig.tcpport.mastodon-web}/

Header set Strict-Transport-Security "max-age=31536000"

<LocationMatch "^/(emoji|packs|system/accounts/avatars|system/media_attachments/files)">
    Header set Cache-Control "public, max-age=31536000, immutable"
</LocationMatch>

<LocationMatch "^/sw\.js$">
    Header set Cache-Control "public, max-age=0"
</LocationMatch>

Alias /system ${appconfig.datadir}/mastodon/public/system

<Directory ${appconfig.datadir}/mastodon/public/system>
  Require all granted
</Directory>

RequestHeader add Host ${site.hostname}
RequestHeader add X-Forwarded-Proto https
