REDIS_HOST=127.0.0.1
REDIS_PORT=${appconfig.tcpport.redis}

DB_HOST=${appconfig.postgresql.dbhost.maindb}
DB_USER=${appconfig.postgresql.dbuser.maindb}
DB_NAME=${appconfig.postgresql.dbname.maindb}
DB_PASS=${appconfig.postgresql.dbusercredential.maindb}
DB_PORT=${appconfig.postgresql.dbport.maindb}

LOCAL_DOMAIN=${site.hostname}

PAPERCLIP_SECRET=${installable.customizationpoints.paperclip_secret.value}
SECRET_KEY_BASE=${installable.customizationpoints.secret_key_base.value}
OTP_SECRET=${installable.customizationpoints.otp_secret.value}

# VAPID keys (used for push notifications
# You can generate the keys using the following command (first is the private key, second is the public one)
# You should only generate this once per instance. If you later decide to change it, all push subscription will
# be invalidated, requiring the users to access the website again to resubscribe.
#
# Generate with `RAILS_ENV=production bundle exec rake mastodon:webpush:generate_vapid_key` task (`docker-compose run --rm web rake mastodon:webpush:generate_vapid_key` if you use docker compose)
#
# For more information visit https://rossta.net/blog/using-the-web-push-api-with-vapid.html
VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=

SINGLE_USER_MODE=${installable.customizationpoints.singleusermode.value}

DEFAULT_LOCALE=${installable.customizationpoints.defaultlocale.value}

SMTP_SERVER=localhost
SMTP_PORT=25
SMTP_FROM_ADDRESS=notifications@${site.hostname}
SMTP_AUTH_METHOD=none
SMTP_OPENSSL_VERIFY_MODE=none

STREAMING_CLUSTER_NUM=1
