[Unit]
Description=mastodon-streaming
After=network.target

[Service]
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart mastodon-streaming@%I
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop mastodon-streaming@%I

Type=simple
User=mastodon
WorkingDirectory=/var/lib/mastodon/%i/mastodon
EnvironmentFile=/etc/mastodon/mastodon-streaming-%i.env
ExecStart=/usr/bin/npm run start
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
