[Unit]
Description=mastodon-web
After=network.target
Requires=postfix

[Service]
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart mastodon-web@%I
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop mastodon-web@%I

Type=simple
User=mastodon
WorkingDirectory=/ubos/lib/mastodon/%i/mastodon
EnvironmentFile=/etc/mastodon/mastodon-web-%i.env
ExecStart=/usr/bin/bundle exec puma -C config/puma.rb
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
