[Unit]
Description=Advanced key-value store, configured for Mastodon
After=network.target

[Service]
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart mastodon-redis@%I
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop mastodon-redis@%I

Type=simple
User=mastodon
Group=mastodon
ExecStart=/usr/bin/redis-server /etc/mastodon/mastodon-redis-%i.conf
# Does not work with non-default port: ExecStop=/usr/bin/redis-cli shutdown
CapabilityBoundingSet=
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
RuntimeDirectory=redis
RuntimeDirectoryMode=755
LimitNOFILE=10032

[Install]
WantedBy=multi-user.target
