[Unit]
Description=mastodon-web
After=network.target
Requires=postfix.service

[Service]
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart mastodon-web@%I
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop mastodon-web@%I

Type=simple
User=mastodon
WorkingDirectory=/ubos/lib/mastodon/%i/mastodon
EnvironmentFile=/etc/mastodon/mastodon-web-%i.env
ExecStart=/usr/bin/bundle exec puma -C config/puma.rb
TimeoutSec=15
Restart=always
# Proc filesystem
ProcSubset=pid
ProtectProc=invisible
# Capabilities
CapabilityBoundingSet=
# Security
NoNewPrivileges=true
# Sandboxing
ProtectSystem=strict
PrivateTmp=true
PrivateDevices=true
PrivateUsers=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
RestrictAddressFamilies=AF_NETLINK
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true
LockPersonality=true
RestrictRealtime=true
RestrictSUIDSGID=true
RemoveIPC=true
PrivateMounts=true
ProtectClock=true
# System Call Filtering
SystemCallArchitectures=native
SystemCallFilter=~@cpu-emulation @debug @keyring @ipc @mount @obsolete @privileged @setuid
SystemCallFilter=@chown
SystemCallFilter=pipe
SystemCallFilter=pipe2
ReadWritePaths=/ubos/lib/mastodon/%i/mastodon

[Install]
WantedBy=multi-user.target
